 PERKS = [
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'mug-hot') %> tea & coffee</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-military-rifle') %> personal death squad</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'people-group') %> meeting space</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'universal-access') %> accessible space</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-walking-arrow-loop-left') %> space for pacing</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'lock') %> additional security</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'eye') %> additional privacy</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'bell-slash') %> soundproof</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'microhpone') %> great acoustics</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-shelter') %> personal shelter</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'bell-concierge') %> private concierge</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'signs-post') %> easy to find</p>,
  <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'tower-cell') %> excellent coverage</p>
]

<%= PERKS.in_groups_of(3) %>
