<div class="m-2 px-5 py-3 searchbar-index">

</div>

<div class="container">
  <div class="cards-container">
    <% if !@flats.size.zero? %>
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat) do %>
          <div class="our-card rounded py-3 px-2">
            <h4 class="mb-3 pb-1 fw-bold text-dark"><%= flat.name %></h4>
            <% unless flat.image_url.nil? %>
              <%= image_tag flat.image_url, alt: flat.name, class: "w-80 img-fluid mb-3 image-index" %>
            <% end %>
            <div class="card-text">
            <p class="btn btn-lg btn-success p-1 fw">£<%= flat.price_per_day.floor %></p>
            <p class="flat-description"><%= flat.description.truncate(150) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="ms-3 flex-grow-1">
        <p class="fs-1"><%= icon('fa-solid', 'ghost', class:"pt-5 fa-beat fs-lg text-dark")%></p>
        <p class="mb-0 fs-4 fw-bold">Hmm, nothing here.</p>
        <p class="fs-5">It's good to be selective but maybe try searching again.</p>
      </div>
    <% end %>
  </div>
</div>
