<div class="wrapper container mt-2">
  <div class="container mt-3 p-3 bg-white shadow-main rounded">
    <h2><strong><%= @flat.name %></strong></h2>
    <div class="d-flex flex-column">
      <p><%= icon('fa-solid', 'location-dot') %> <%= @flat.address %></p>
      <div class="d-flex flex-row align-content-center">
        <% unless @flat.image_url.nil? %>
          <%= image_tag @flat.image_url, alt: @flat.name, class: "w-50 h-50 mt-3 img-fluid rounded" %>
        <% end %>

        <% unless @flat.photos.nil? %>
          <% @flat.photos.each do |photo| %>
            <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
          <% end %>
        <% end %>



        <div class="container px-4 py-0">
          <h4><strong>Book this place</strong></h4>
          <%= simple_form_for [@flat, @booking] do |f| %>
            <p class="mb-3"><%= @flat.description %></p>
            <div class="card-text mb-4 d-flex flex-row flex-wrap">
            <% if rand(1..2).odd? %>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'mug-hot', class:"")%> tea & coffee</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-military-rifle', class:"")%> personal death squad</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'people-group', class:"")%> meeting space</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'universal-access', class:"")%> accessible space</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-walking-arrow-loop-left', class:"")%> space for pacing</p>
            <% else %>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'person-shelter') %> personal shelter</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'bell-concierge') %> private concierge</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'signs-post') %> easy to find</p>
              <p class="flat-icon mb-1 me-2"><%= icon('fa-solid', 'tower-cell') %> excellent coverage</p>
            <% end %>

            </div>
            <hr>
            <%= f.input :start_date, html5: true %>
            <%= f.input :end_date, html5: true %>
            <div class="d-flex flex-row-reverse">
              <%= link_to "Back", flats_path, class: "btn btn-outline-primary ms-2" %>
              <%= f.submit "Book", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# MAPBOX MAP %>
    <div class="mb-3">
    </div>
    <div style="width:inherit; height: 180px"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
