<div class="container mt-2">
  <div class="container mt-3 p-3 bg-white shadow-main rounded">
    <h2><strong><%= @flat.name %></strong></h2>
    <div class="d-flex flex-column">
      <p><%= icon('fa-solid', 'location-dot') %> <%= @flat.address %></p>
      <div class="d-flex flex-row align-content-center">
        <% unless @flat.image_url.nil? %>
          <%= image_tag @flat.image_url, alt: @flat.name, class: "w-50 h-50 img-fluid rounded" %>
        <% end %>
        <div class="container px-4 py-0">
          <%= simple_form_for [@flat, @booking] do |f| %>
            <p class="mb-3"><%= @flat.description %></p>
            <h4><strong>Book this:</strong></h4>
            <%= f.input :start_date, html5: true %>
            <%= f.input :end_date, html5: true %>
            <div class="d-flex flex-row-reverse">
              <%= link_to "Back", flats_path, class: "btn btn-outline-dark ms-2" %>
              <%= f.submit "Book", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# MAPBOX MAP %>
    <div class="mb-3">
    </div>
    <div style="width:inherit; height: 180px"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
